:root {
	// --background-color: #0f102e;
	--background-color: #0c1a28;
	// --background-color: #3C3C3C;
	--text-color-grey: #bdbdbd;
	--text-light-blue: #e0f3ff;
	--text-blue: #cce4f3;
	--text-yellow-shadow: #ffffcc;
	--fast-transition-duration: 500ms;
	--slow-transition-duration: 1000ms;

	// from https://www.joshwcomeau.com/shadow-palette/
	--shadow-color: 0deg 0% 0%;
	--shadow-elevation-low: 0.1px 0.8px 0.9px hsl(var(--shadow-color) / 0.31),
		0.2px 1.2px 1.3px -1.5px hsl(var(--shadow-color) / 0.28),
		0.4px 2.7px 2.9px -2.9px hsl(var(--shadow-color) / 0.25);
	--shadow-elevation-medium: 0.1px 0.8px 0.9px hsl(var(--shadow-color) / 0.32),
		0.3px 2.1px 2.2px -1px hsl(var(--shadow-color) / 0.3),
		0.8px 5.4px 5.8px -2px hsl(var(--shadow-color) / 0.28),
		2px 13.5px 14.4px -2.9px hsl(var(--shadow-color) / 0.25);
	--shadow-elevation-high: 0.1px 0.8px 0.9px hsl(var(--shadow-color) / 0.3),
		0.5px 3.1px 3.3px -0.4px hsl(var(--shadow-color) / 0.29),
		0.8px 5.8px 6.2px -0.8px hsl(var(--shadow-color) / 0.28),
		1.4px 9.7px 10.4px -1.3px hsl(var(--shadow-color) / 0.27),
		2.3px 16px 17.1px -1.7px hsl(var(--shadow-color) / 0.26),
		3.7px 25.6px 27.4px -2.1px hsl(var(--shadow-color) / 0.24),
		5.7px 39.6px 42.3px -2.5px hsl(var(--shadow-color) / 0.23),
		8.5px 58.9px 62.9px -2.9px hsl(var(--shadow-color) / 0.22);
}

// media queries
// @media (min-width: 768px) // medium
// @media (min-width: 640px) // small

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');
// font-family: 'Roboto Condensed', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
// font-family: 'Poiret One', cursive;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

input {
	border: none;
	background-image: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

body {
	background-color: var(--background-color);
	color: var(--text-blue);
	font-family: 'Roboto Condensed', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
}

.no-transition * {
	animation: none !important;
	transition: none !important;
}
